[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/home/iago/files/projects/cybersec_pwdgen_desktop/build-CybersecPwdgenDesktop-Desktop-Release/CybersecPwdgenDesktop
Name=CybersecPwdgenDesktop
Comment=Easy Password Generator
Icon=/home/iago/files/projects/cybersec_pwdgen_desktop/icon.svg
